<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS 7 config file for eZ Publish. Rules taken from .htaccess_root
  @author G. Giunta
  @copyright (c) 2011 eZ Systems
  @license http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2
-->
<configuration>
  <system.webServer>

    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>

        <rule name="Rest API" stopProcessing="true">
          <match url="^api/" ignoreCase="false" />
          <action type="Rewrite" url="index_rest.php" />
        </rule>

        <rule name="Treemenu" stopProcessing="true">
          <match url="^([^/]+/)?content/treemenu.*" ignoreCase="false" />
          <action type="Rewrite" url="index_treemenu.php" />
        </rule>

        <rule name="Direct access resources" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="var/([^/]+/)?storage/images(-versioned)?/" ignoreCase="false" />
            <add input="{URL}" pattern="var/([^/]+/)?cache/(texttoimage|public)/" ignoreCase="false" />
            <add input="{URL}" pattern="design/[^/]+/(stylesheets|images|javascript)/" ignoreCase="false" />
            <add input="{URL}" pattern="share/icons/" ignoreCase="false" />
            <add input="{URL}" pattern="extension/[^/]+/design/[^/]+/(stylesheets|flash|images|lib|javascripts?)/" ignoreCase="false" />
            <add input="{URL}" pattern="packages/styles/.+/(stylesheets|images|javascript)/[^/]+/" ignoreCase="false" />
            <add input="{URL}" pattern="packages/styles/.+/thumbnail/" ignoreCase="false" />
            <add input="{URL}" pattern="var/storage/packages/" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Makes it possible to place your favicon at the root of your
             eZ Publish instance. It will then be served directly. -->
        <rule name="Faviconrewrite" stopProcessing="true">
          <match url="^favicon\.ico$" ignoreCase="false" />
          <!-- Uncomment the line below if you want you favicon be served from the standard design.
               You can customize the path to favicon.ico by replacing design/standard/images/favicon.ico
               by the adequate path. -->
          <!--<action type="Rewrite" url="design/standard/images/favicon.ico" />-->
          <action type="None" />
        </rule>
        <rule name="Favicon" stopProcessing="true">
          <match url="^design/standard/images/favicon\.ico$" ignoreCase="false" />
          <action type="None" />
        </rule>

        <!-- Give direct access to robots.txt for use by crawlers (Google, Bing, Spammers..) -->
        <rule name="Robots" stopProcessing="true">
          <match url="^robots\.txt$" ignoreCase="false" />
          <action type="None" />
        </rule>

        <!-- Uncomment the following lines when using popup style debug. -->
        <!--<rule name="Debug" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="var/cache/debug\.html" ignoreCase="false" />
            <add input="{URL}" pattern="var/[^/]+/cache/debug\.html" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>-->

        <!-- Platform for Privacy Preferences Project ( P3P ) related files for Internet Explorer
             More info here : http://en.wikipedia.org/wiki/P3p -->
        <rule name="P3P" stopProcessing="true">
          <match url="^w3c/p3p\.xml$" ignoreCase="false" />
          <action type="None" />
        </rule>

        <rule name="Everything else">
          <match url=".*" ignoreCase="false" />
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
